html {
  background-image: url(../public/revatrustBackground.png); 
  background-size: cover;
  height: 100%;
}

.navBar {
  background-color: rgb(243, 106, 38);
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin: 0px 20px 20px  20px auto;
  padding: 25px 10px 25px 10px;
  display: flex;
  justify-content: space-between;
}

.navLogo {
  width: 300px;
  height: 94px;
}

.router {
  background: rgb(255, 255, 255, 0.6);
  border-radius: 30px;
  margin: 20px 20px auto;
}